body {
	background: #222;
	padding: 32px;
	width: 500px;
	text-align: center;
	margin: 50px auto;
}

.card {
	background-color: #fff;
	padding: 32px;
	border-radius: 8px;
}

.max-width-wrapper {
	max-width: 350px;
	margin: 0 auto;
	padding: 0 16px;
}
